.date-picker input {
  width: 100%;
  color: black;
}

.date-picker .date-picker-header {
  float: left;
  width: 100%;
  padding: 5px 0;
}

.date-picker .change-arrow {
  height: 100%;
  width: 20%;
  text-align: center;
  cursor: pointer;
  float: left;
  line-height: 21px;
}

.date-picker .change-arrow span{
  vertical-align: -webkit-baseline-middle;
  vertical-align: sub;  
}

.date-picker .arrow-left:hover {
  transform: translateX(-3px);
}

.date-picker .arrow-right:hover {
  transform: translateX(3px);
}

.date-picker .change-range {
  height: 100%;
  width: 60%;
  text-align: center;
  cursor: pointer;
  float: left;
  font-size: 14px;
  line-height: 21px;
}

.date-picker .change-range span {
  vertical-align: -webkit-baseline-middle;
  vertical-align: sub;
}

.date-picker .main-content {
  padding: 10px;
}

.date-picker .content-table {
  width: 100%;
  height: 100%;
}

.date-picker thead {
  text-align: center;
}

.date-picker .this-month {
  color: white;
}

.date-picker .other-month {
  color: grey;
}

.date-picker .selected-date {
  background: grey;
}

.date-picker tbody td {
  cursor: pointer;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
}

.date-picker tbody td:hover {
  background: rgba(100, 100, 100, 0.9);
}

.date-picker .widget-block {
  background: rgba(30, 30, 30, 0.9);
  color: white;
  font-size: 12px;
  -webkit-user-select: none;  
  -moz-user-select: none;     
  -ms-user-select: none;      
  user-select: none; 
}